@tailwind base;
@tailwind components;
@tailwind utilities;

.text-scroll-overflow {
    animation: marquee 10s infinite linear;
}

.text-scroll-overflow:hover {
    animation-play-state: paused;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
