@tailwind base;
@tailwind components;
@tailwind utilities;

.overflow-defilement {
    animation: defilement 10s infinite linear;
}

.overflow-defilement:hover {
    animation-play-state: paused;
}

@keyframes defilement {
    0% {
        transform: translateX(0%);
    }
    60% {
        transform: translateX(-100%);
    }
    70% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(0%);
    }
}
